body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: white;
    margin: 0;
    background-image: url("http://pluspng.com/img-png/music-keyboard-png-hd-close-up-hands-playing-the-keyboard-in-the-music-studio-music-concept-stock-video-footage-videoblocks-1920.png");
    background-color: #cccccc;

 }

div {
    text-align: center;
}

.small {

    transform: scale(.8);

    
}

   /***********   HEADERS   ***********/

   .head {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}




h1 {
   color: #f2f2f2;
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.25em;
    text-align: center;
    text-shadow: 2px 2px 3px #888;
}

h2 {
    color: #f2f2f2;
    text-align: left;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 2px #999;
    padding-left: 50px;
    padding-bottom: 50px;

}

h5 {
    color: #f2f2f2;
    text-align: left;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 2px #999;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 200%;

}

h3 {

    color: #2F2F2F;
    text-align: center;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    text-shadow: 1px 1px 2px #999;
    text-align: center;
    font-size: 150%;
    font-weight: 10%;

}

td {
    color: #2F2F2F;
    text-align: center;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    text-shadow: 1px 1px 2px #999;
    text-align: center;
    font-size: 150%;
    padding-top: 2px;
    padding-bottom: 2px;
   
  


}
  
h4, h5 {
    color: #2F2F2F;
    text-align: center;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    text-shadow: 1px 1px 2px #999;
    text-align: center;
}

p {
    color: #cccccc;
    text-align: left;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    margin-top: 0;
    text-shadow: 1px 1px 2px #999;
    padding-left: 50px;
    padding-bottom: 100px;

}

ul {
    color:#f2f2f2;
    list-style-type: none;
    
}

li {
    margin-bottom: 50px;
    font-size: 25px;
    list-style-type: none;
}

    








   /***********  BUTTONS  ***********/

   .gigButton {
    display: inline-flex;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 2px 4px 6px #999;
    
    background:midnightblue;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 50px;
}


.gigButton:hover,
.gigButton:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.gigButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.gigButton:active {
  transform: scale(0.99);
}



  
  
.log-in, .log-out, .register {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 2px 4px 6px #999;
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
    
.log-in, .log-out, .register:hover,
.log-in, .log-out, .register:focus {
    background:black;
}
    
.log-in, .log-out, .registerfocus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
    
.log-in, .log-out, .register:active {
    transform: scale(0.99);
}

.link-button {
        background:none;
        color:inherit;
        border:none;
        padding:0;
        font: inherit;
        outline:0;
        border-bottom:1px solid #444; 
        cursor: pointer;
}

 
.button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 2px 4px 6px #999;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button:hover,
.button:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.button:active {
  transform: scale(0.99);
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    box-shadow: 2px 4px 6px #999;
    background: black;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}


button:hover,
button:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.profileButton {
    display: inline-flex;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
   
    background: darkolivegreen;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
   
}


.profileButton:hover,
.profileButton:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.profileButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.profileButton:active {
  transform: scale(0.99);
}

.loginButton {
   
    border: none;
    margin-left: 50px;
    margin: 0;
    text-decoration: none;
    float: right;
   
    background: darkolivegreen;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: right;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
   
}


.loginButton:hover,
.loginButton:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.loginButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.loginButton:active {
  transform: scale(0.99);
}

.registerButton {

    border: none;
    margin-right: 50px;
    margin: 0;
    text-decoration: none;
    float: center;
   
    background: darkolivegreen;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
   
}


.registerButton:hover,
.registerButton:focus {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.registerButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.registerButton:active {
  transform: scale(0.99);
}

    /***********  FORMS  ***********/
      
form {
    background-color: #cccc;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} 




.section {
    display: inline-block;
    border-radius: 1.0em;
    box-shadow: 6px 10px 15px #999;
    margin-bottom: 0.0em;
   
  
    transform: scale(0.7);
}

.sectionprofile {
    display: inline-block;
    border-radius: 1.0em;
    box-shadow: 6px 10px 15px #999;
    margin-bottom: 0.0em;
   
  
  
}
.cardsection {
    display: inline-block;
    border-radius: 1.0em;
    box-shadow: 6px 10px 15px #999;
    margin-bottom: 0.0em;
    margin-right: 100px;
   
  
    transform: scale(.9);
}

.cardsectiontwo {
    display: inline-block;
    border-radius: 1.0em;
    box-shadow: 6px 10px 15px #999;
    margin-bottom: 0.0em;
    margin-right: 100px;
    background-color: black;
   
  
    transform: scale(.9);
}

.tableSection {
    display: inline-block;
    border-radius: 1.0em;
    box-shadow: 6px 10px 15px #999;
    margin-bottom: 0.0em;
    padding: 0.00em;
    margin: 5px 5px;
    transform: scale(0.8);
  
    
}


  
section:nth-of-type(odd) {
    background-color: #97AFC3;
  }
  
  section:nth-of-type(even) {
    background-color: #B8CFE0;
  }
  

  
    /***********   TABLES   ***********/
  
  table {
    width: 100%;
    background-color: #FCFCFB;
    border-collapse: collapse;
  }
  

  
  
  tbody tr:nth-of-type(even) {
    background-color: #f5f5f5;
  }
  
  
  thead tr {
    background-color: #E6E6E5;
    color: #2F2F2F;
  }
  
 /***********   CARDS  ***********/
  

  

  
   /**********  PICTURES  ***********/

.picture {
    display: inline-block;
    padding: 50px;
    height: 500px;
    width: auto;
    box-shadow: 3px 4px 5px #999;
    margin-bottom: 100px;
    transform: scale(1.0); 
    
    
}
    
    
.picturetwo {
    display: inline-block;
    padding: 50px;
    height: 500px;
    width: auto;
    box-shadow: 6px 8px 10px #999;
    margin-bottom: 100px;
    transform: scale(1); 
    
    
}
    
  
     /**********  NAV  ***********/
.nav-titletwo {
        font-size: 75px;
        font-weight: 700;
        display: inline-block;
        color: #f2f2f2;
        padding-left: 10px;
        text-decoration: underline;
      }
  
  
  
  .nav-link {
    float: left;
    color: #f2f2f2;
    background-color: #000000;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
  
    /* these last two make the logout button in
    the nav bar look like another link */
    border:none;
    cursor: pointer;
    outline:0;
  }
  
  .nav-link:hover {
    background-color: black;
  }
  
  .nav-right {
    float: right;
  }
  